img{
    width: 250px;
    height: 250px;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
}

.repos{
    max-width: 400px;
    margin-bottom: 40px;
}